@using System.Security.Claims
@{
    var role = int.Parse(User.FindFirstValue(ClaimTypes.Role));
}
<div class="conteiner">
    <h1>Университет</h1>
    @if (role == 3)
    {
        <div class="action">

            <a href="/Students/Index" class="btn_primary">Студенты</a>
            <a href="/Teachers/Index" class="btn_primary">Преподователи</a>
            <a href="/Groups/Index" class="btn_primary">Группы</a>
        </div>
        <div class="action">
            <a href="/Courses/Index" class="btn_primary">Курсы</a>
            <a href="/Subjects/Index" class="btn_primary">Предметы</a>
            <a href="/Schedule/Index" class="btn_primary">Расписание</a>
        </div>
    }
    else
    {
        <div class="action">
            <a href="/Schedule/Index" class="btn_primary">Расписание</a>
        </div>
    }

</div>
<style>
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: azure;
        padding: 0;
        margin: 0;
    }

    .conteiner {
        width: 60%;
        margin: 60px auto;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 6px 8px rgba(0,0,0,0.1);
        text-align: center;
        background-color: beige;
    }

    .action {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 15px;
    }

    .btn_primary {
        width: 25%;
        padding: 12px;
        text-decoration: none;
        background-color: aliceblue;
        border-radius: 5px;
        color: black;
        transition: all 0.2s ease-in-out;
    }

        .btn_primary:hover {
            transform: scale(1.1);
            color: black;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }
</style>